@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Notable&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Font stacks */
  --font-body: "Red Hat Display", sans-serif;
  --font-title: "Notable", sans-serif;
  --font-subtitle: "Instrument Serif", serif;

  /* Colour palette */
  --color-text: #2e201d;
  --color-bg: #eadfc9;
  --color-pale: #f4f4f5;
  --color-flash: #ef4545;
  --color-blue: #aabccc;

  --color-orange: #f6821e;
  --color-brown: #984519;
  --color-green: #26422b;
}

/* ---------------- General styles ---------------- */
body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* ---------------- Shared / Utilities ---------------- */

/* ---------------- Header ---------------- */
header {
  border-bottom: var(--color-flash) 1.2px solid;
  padding-bottom: 1.2rem;
}

header h1 {
  font-family: var(--font-title);
  font-size: 5rem !important;
}

header h2 {
  font-size: 1.8rem !important;
}

/* ---------------- Footer ---------------- */
footer {
  padding: 1rem;
  border-top: var(--color-flash) 1.2px solid;
}

footer p {
  font-size: 1.2rem;
  margin: 0;
}

/* ---------------- Card styles Main page ---------------- */
#collection-container {
  max-width: 1600px;
}

.product-card {
  border-radius: 8px;
  max-width: min(95%, 450px);
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  border-radius: 8px;
  background-color: var(--color-pale);
}

.card-image {
  position: relative;
  padding: 0.8rem;
}

.card-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
  transition: opacity 0.5s ease;
  display: block;
  margin: 0 auto;
}

.card-image:hover img {
  opacity: 0.3;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.8s ease;
  text-align: center;
  pointer-events: none; /* prevent the overlay to block the clic on the link */
}

.card-image:hover .overlay {
  opacity: 1;
}

.product-card a {
  text-decoration: none;
}

.card-title {
  font-family: var(--font-title);
  color: var(--color-text);
  font-size: 2.2rem;
}

/* ---------------- Card styles Detail page ---------------- */
#detail-container {
  max-width: 1200px;
}

.detail-card-image {
  padding: 1.2rem;
}

.detail-card-image-principale img,
.detail-card-image-secondaires img {
  border-radius: 5px;
}

.detail-card-image-principale img {
  max-width: 100%;
}

.detail-card-image-secondaires img {
  max-width: 20%;
}

.detail-card-title {
  font-family: var(--font-title);
  font-size: 2.5rem;
}

.back {
  text-decoration: none !important;
  color: var(--color-orange);
  font-size: 1.2rem;
}

.back:hover,
.back:focus {
  color: var(--color-text);
}
