@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Notable&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Font stacks */
  --font-body: "Red Hat Display", sans-serif;
  --font-title: "Notable", sans-serif;
  --font-subtitle: "Instrument Serif", serif;

  /* Colour palette */
  --color-text: #2e201d;
  --color-bg: #eadfc9;
  --color-blue: #9eb8b9;
  --color-orange: #c06225;
  --color-brown: #984519;
  --color-raisinBlack: #2e201d;
  --color-green: #26422b;
}

/* ---------------- General styles ---------------- */
body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* ---------------- Shared / Utilities ---------------- */

/* ---------------- Header ---------------- */
header {
  padding: 1rem;
  border-bottom: var(--color-brown) 1px solid;
}

header h1 {
  font-family: var(--font-title);
  font-size: 5rem !important;
}

header h2 {
  font-size: 1.8rem !important;
}

/* ---------------- Footer ---------------- */
footer {
  padding: 1rem;
  border-top: var(--color-brown) 1px solid;
}

footer p {
  font-size: 1.2rem;
  margin: 0;
}

/* ---------------- Card styles Main page ---------------- */
.product-card {
  height: 400px;
  margin-bottom: 24px;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.product-card .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 70%;
  padding: 1.2rem;
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.card-body {
  height: 30%;
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.card-subtitle {
  font-size: 1rem;
}

.card-text {
  font-size: 0.8rem;
}

/* ---------------- Card styles Detail page ---------------- */
.detail-product-card {
  max-width: 80%;
  margin: 0 auto;
}

.detail-product-card .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.detail-card-image {
  padding: 1.2rem;
}

.detail-card-image img {
  border-radius: 5px;
}

.detail-card-body {
  padding: 1.2rem;
  text-align: left;
}

.detail-card-title {
  font-family: var(--font-title);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.detail-card-text {
  margin-bottom: 1rem;
}
